html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  font-family: 'Playfair Display', serif;
  color: #626262;
  font-size: 14px;
  line-height: 1.7;
}

p,
h2 {
  margin: 0;
}

.main-container {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* nav */
.nav {
  padding-top: 75px;
  padding-bottom: 100px;
}

.nav-list {
  display: flex;
  justify-content: center;
}

.nav-item {
  text-transform: uppercase;
}

.nav-link {
  display: inline-block;
  text-decoration: none;
  color: #626262;
  padding-left: 50px;
  padding-right: 50px;
}

.nav-link:hover,
.nav-link:focus {
  color: #03a9f4;
}

/* article */
.article {
  padding-bottom: 70px;
}
.article-list {
  display: flex;
  flex-wrap: wrap;
}

.article-group {
  font-family: 'Ubuntu', sans-serif;
  text-transform: uppercase;
  color: #b4ad9e;
  font-weight: 300;
  line-height: 1.2;
  margin-top: 25px;
  margin-bottom: 25px;
}

.article-item {
  flex-basis: calc(50% - 30px);
  flex-grow: 0;
  margin-right: 60px;
  margin-bottom: 125px;
}
.article-item:nth-child(2n) {
  margin-right: 0;
}

.article-item:nth-last-child(-n + 2) {
  margin-bottom: 57px;
}

.article-title {
  font-size: 30px;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 41px;
}

/* button */
.button {
  font-family: inherit;
  display: block;
  color: inherit;
  text-decoration: none;
  font-size: 30px;
  line-height: 1.2;
  padding: 20px 30px;
  border: 2px solid #626262;
  margin: 0 auto;
  cursor: pointer;
}

.button:hover,
.button:focus {
  color: #03a9f4;
}
